* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    overflow: hidden;
    width: 1125px;
}

#ticketContainer {
    display: none;
}

#edit {
    display: none;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 2300px;
    color: white;
    background: black;
    width: 1000px;
    font-size: 28px;
    padding: 50px;
}

#edit>div {
    display: flex;
    align-items: center;
}

#edit div label {
    margin: 2px 5px;
}

#edit input[type="text"] {
    flex: 2;
    width: 100%;
    font-size: 28px;
}

#edit input[type="submit"] {
    margin: 5px;
    font-size: 28px;
}

#linkText {
    text-align: center;
    font-weight: 800;
    font-family: Helvetica Neue;
    color: white;
    font-size: 48px;
    margin: 20px;
    text-decoration: none;
    border: 1px solid white;
    padding: 3px;
    background: #2b8eff;
}

.scanItem {
    display: none;
}

div#topOptions {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 14px;
    color: white;
    font-size: 45px;
    font-family: Helvetica Neue;
    font-weight: 500;
    letter-spacing: -0.5;
    z-index: 1;
}

p#doneText {
    padding: 5px;
}

div#circleOptions {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 960px;
    margin-top: 2px;
    border: 5px solid white;
    width: 49px;
    height: 49px;
    border-radius: 50%;
}

div.miniCircle {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 21px;
}

div#circleOptions div:nth-child(1) {
    margin-left: 7px;
}

div#circleOptions div:nth-child(2) {
    margin-left: 20px;
}

div#circleOptions div:nth-child(3) {
    margin-left: 33px;
}

div#circleOptions select {
    opacity: 0;
    width: 100%;
    height: 100%;
}

div#ticketContainer {
    display: flex;
    margin-left: 45px;
}

div.ticket {
    position: relative;
    margin-top: 144px;
    width: 1035px;
    height: 1179px;
    border: 3px solid #151a1e;
}

div.ticket:not(:first-child) {
    margin-left: 12px;
}

div.ticket.long {
    height: 1506px;
}

div#ticketCutout {
    margin-left: 406px;
    margin-top: -174px;
    width: 211px;
    height: 211px;
    background: black;
    border: 3px solid #151a1e;
    border-radius: 50%;
}

div#ticketCutoutOverlay {
    margin-left: 395px;
    margin-top: -277px;
    width: 233px;
    height: 220px;
    background: black;
}

img#logo {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 279px;
}

div#dateTimeContainer {
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

p#dateText {
    position: absolute;
    font-size: 50px;
    top: 50px;
    left: 700px;
    letter-spacing: 0.5px;
}

p#timeText {
    position: absolute;
    top: 22px;
    left: 700px;
    font-size: 29px;
    letter-spacing: 1px;
}

img#banner {
    position: absolute;
    top: 170px;
    width: 1035px;
    height: 270px;
    background: black;
}

div#eventInfoContainer {
    position: absolute;
    top: 460px;
    left: 38px;
    font-family: Arial, Helvetica, sans-serif;
}

p.header {
    font-size: 26px;
    font-family: Helvetica;
    font-weight: 600;
    letter-spacing: 0px;
}

p#eventNameText {
    font-size: 51px;
    letter-spacing: 0px;
    white-space: nowrap;
    letter-spacing: -0.5px;
}

p#leftHeader {
    position: absolute;
    top: 585px;
    left: 38px;
}

p#middleHeader {
    position: absolute;
    top: 585px;
    left: 490px;
}

p#rightHeader {
    position: absolute;
    top: 585px;
    left: 925px;
}

p#bottomLeftHeader {
    position: absolute;
    top: 713px;
    left: 38px;
}

p#bottomRightHeader {
    position: absolute;
    top: 713px;
    left: 674px;
}

div#ticketInfoContainer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 53px;
    letter-spacing: -2px;
}

p#leftText {
    position: absolute;
    top: 617px;
    left: 38px;
    white-space: nowrap;
}

p#middleText {
    position: absolute;
    top: 617px;
    left: 490px;
}

p#rightText {
    position: absolute;
    top: 617px;
    right: 43px;
}

p#bottomLeftText {
    position: absolute;
    top: 745px;
    left: 38px;
    letter-spacing: -2.7px;
}

p#bottomRightText {
    position: absolute;
    top: 745px;
    left: 674px;
    letter-spacing: -4px;
}

#nfcIcon {
    position: absolute;
    top: 1087px;
    left: 945px;
    filter: invert(93%) sepia(7%) saturate(61%) hue-rotate(182deg) brightness(100%) contrast(87%);
    width: 85px;
}

img#scan {
    position: absolute;
    top: 1463px;
    left: 461px;
    width: 205px;
}

p#scanText {
    position: absolute;
    top: 1671px;
    left: 358px;
    color: #87858c;
    font-size: 52px;
    font-family: Arial;
    letter-spacing: -0.7px;
}

#qrIcon {
    position: absolute;
    top: 920px;
    left: 296px;
}

#pageCircles {
    display: none;
    margin-top: 29px;
}

.pageCircle {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #505052;
}

.pageCircle.active {
    background: #fefefe;
}

.pageCircle:not(:first-child) {
    margin-left: 31px;
}

/* animation */

#ticketContainer {
    --n: 1;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    width: calc(var(--n)*100% - var(--n)*71px);
    transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*-100%));

    div {
        width: 100%;
        width: calc(100%/var(--n));
        user-select: none;
        pointer-events: none
    }
}

.smooth {
    transition: transform calc(var(--f, 1)*.5s) ease-out
}

/*************/

#mainScreen {
    margin-left: 40px;
}

#mainTopOptions {
    display: flex;
    margin-top: 165px;
    margin-left: 7px;
}

#walletHeader {
    color: white;
    font-size: 91px;
    font-family: Helvetica;
    font-weight: 800;
}

.circle {
    background: white;
    width: 101px;
    height: 101px;
    border-radius: 50%;
    margin-top: -11px;
}

#leftCircle {
    margin-left: 514px;
}

#box {
    width: 65px;
    margin-left: 18px;
    margin-top: 18px;
}

#rightCircle {
    margin-left: 34px;
}

#plus {
    width: 53px;
    margin-left: 24px;
    margin-top: 24px;
}

#appleCard {
    position: relative;
    z-index: 1;
    margin-top: 70px;
    width: 1040px;
    height: 656px;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
}

#mainScreen div.ticket {
    margin-top: 90px;
    margin-left: 5px;
}

.moveUp {
    animation: moveUp 0.5s ease-in-out;
}

@keyframes moveUp {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-940px);
    }
}

.moveDown {
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(940px);
    }
}

.fadeOut {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
